@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.oradores{
    height: 100vh;
    width: 80%;
    margin:0 auto;
    text-align: center;
}
.oradores h2{
    padding-top: 20px;
}
.tarj{
    background-color:white;
    border:1px solid rgb(182, 182, 182);
    border-radius:5px;
    width: 30%;
    height: 80%;
    display: inline-block;
    margin-right: 10px;
    margin-top:10px;
    text-align: left;
}
.tarj img{
    width:100%;
    height:60%;
    object-fit: contain;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}
.cuerpo{
    margin:10px;
}
.cuerpo h4{
    display:inline-block;
    border-radius:5px;
    margin-right: 5px;
    padding:0 5px;
}
.tituloNombre{
    margin-top:5px;
    margin-bottom:20px;
}
.colorCeleste{
    background-color: rgb(0, 200, 255);
    color:white;
}
.colorAmarillo{
    background-color: rgb(255, 255, 0);
    color:black;
}
.colorGris{
    background-color: rgb(106, 106, 106);
    color:white;
}
.colorRojo{
    background-color: rgb(171, 2, 2);
    color:white;
}
.divH2Punto1 {
    font-size: x-small;
}
.divH2Punto2 {
    font-size: xx-large;
    font-weight: bold;
}
.caja{
    position: relative;
    width: 200vh;
    height: 50vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.texto1{
    display: flex;
    position: absolute;
    width:100%;
    height:100%;
    color: white;
    flex-wrap: wrap;
    justify-content: right; 
    text-align: right;
    margin: auto;
    margin-bottom: 40%;
    padding-top: 20%;
    top: 10%;
}
.texto2{
    display: flex;
    position:absolute;
    color:white;
    text-align:right;
    padding-top: 24%;
    top: 10%;
    left: 10%;
}
.texto3{
    display: flex;
    position: absolute;
    justify-content: right;
    color: white;
    width:100%;
    height:100%;
    padding-top: 30%;
    text-align:right;
    top: 10%;
}
.contenedorImagen{
    padding-left: 0;
    padding-right: 0;
    width:100%;
    height:500px;
}
.imagenContenedor{
    object-fit: cover;
    width:100%;
    height:100%;
}
.footer{
    height:150px;
    background-image: linear-gradient(to right, #1d3744, #1d3e4f, #1d455a, #1d4c66, #1e5372);
    display: row; 
    justify-content:space-between;
    color: white;  
}
